.react-pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.15;
  pointer-events: none;
}

.react-icon {
  position: absolute;
  fill: #61dafb;
  animation: float 20s infinite linear;
}

.react-icon.small {
  width: 40px;
  height: 40px;
  opacity: 0.5;
}

.react-icon.medium {
  width: 70px;
  height: 70px;
  opacity: 0.7;
}

.react-icon.large {
  width: 100px;
  height: 100px;
  opacity: 0.3;
}
/* Animações de flutuação */
@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-1000px) rotate(360deg);
  }
}
