@import './globals.css';

body {
  font-size: 1.15625rem;
}
@media (min-width: 640px) {
  body {
    font-size: 1.209375rem;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 1.22rem;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 1.24125rem;
  }
}
@media (min-width: 1280px) {
  body {
    font-size: 1.2625rem;
  }
}
@media (min-width: 1536px) {
  body {
    font-size: 1.28375rem;
  }
}

.smaller-text {
  font-size: var(--text-xs);
}

.small-text,
label {
  font-size: var(--text-sm);
}

.normal-text,
li,
input,
select,
option {
  font-size: var(--text-base);
}

.large-text {
  font-size: var(--text-lg);
}

h6 {
  font-size: var(--text-h6);
}

h5 {
  font-size: var(--text-h5);
}

h4 {
  font-size: var(--text-h4);
}

h3 {
  font-size: var(--text-h3);
}

h2 {
  font-size: var(--text-h2);
}

h1 {
  font-size: var(--text-h1);
}

.big-h1 {
  font-size: var(--text-big-h1);
}

button {
  font-size: var(--text-button);
}

.small-button {
  font-size: var(--text-sm-button);
}

.large-button {
  font-size: var(--text-lg-button);
}

/* Configurações de largura máxima para parágrafos */
p {
  max-width: 65ch;
}

@media (min-width: 640px) {
  p {
    max-width: 73ch;
  }
}

@media (min-width: 768px) {
  p {
    max-width: 75ch;
  }
}

@media (min-width: 1024px) {
  p {
    max-width: 78ch;
  }
}

@media (min-width: 1280px) {
  p {
    max-width: 82ch;
  }
}

@media (min-width: 1536px) {
  p {
    max-width: 85ch;
  }
}

/* ============ PESOS DE FONTE ============ */
input::placeholder {
  font-weight: 300;
}

p,
li,
input,
select,
option {
  font-weight: 500;
}

a,
h6,
h5,
h4 {
  font-weight: 600;
}

h3,
h2,
button {
  font-weight: 700;
}

h1 {
  font-weight: 800;
  letter-spacing: 0.22px;
}

.helper-text,
.description-text {
  font-weight: 300;
}

.small-button,
.big-link,
.small-link {
  font-weight: 600;
}

/* ============ LINE HEIGHTS E PADDING INFERIOR ============ */
.h1-hero {
  line-height: 1.1;
  padding-bottom: 0.3em;
}

h1 {
  line-height: 1.22;
  padding-bottom: 0.14em;
}

h2 {
  line-height: 1.24;
  padding-bottom: 0.13em;
}

h3 {
  line-height: 1.28;
  padding-bottom: 0.125em;
}

h4 {
  line-height: 1.32;
  padding-bottom: 0.12em;
}

h5 {
  line-height: 1.38;
  padding-bottom: 0.115em;
}

h6 {
  line-height: 1.44;
  padding-bottom: 0.11em;
}

p,
li,
input,
select,
option {
  line-height: 1.52;
  padding-bottom: 0.125em;
}

label {
  line-height: 1.35;
  padding-bottom: 0.11em;
}

/* Corpo de texto */
.large-text {
  line-height: 1.68;
  padding-bottom: 0.13em;
}

.normal-text {
  line-height: normal;
  padding-bottom: 0.125em;
}

.small-text {
  line-height: 1.6;
  padding-bottom: 0.12em;
}

.smaller-text {
  line-height: normal;
  padding-bottom: 0.11em;
}

/* Botões */
button {
  line-height: 1.15;
}

.large-button {
  line-height: 1.2;
}

.small-button {
  line-height: 1.1;
}