@import 'globals.css';

#profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#wrapper-profile-photo {
  display: block;
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
}

#profile-photo {
  display: inline-flex;
}

#wrapper-profile-text {
  display: flex;
  justify-content: center;
}

h1 {
  max-width: max-content;
}

@media (min-width: 640px) {
  header {
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  /* lg */
}

@media (min-width: 1280px) {
  /* xl */
}

@media (min-width: 1536px) {
  /* 2xl */
}
