@import 'tailwindcss';

@theme {
  /* breakpoints */
  --breakpoint-xxs: 337px;
  --breakpoint-xs: 375px;
  --breakpoint-md-sm: 425px;
  --breakpoint-pre-sm: 575px;
  --breakpoint-pre-md: 704px;
  --breakpoint-next-md: 840px;
  --breakpoint-pre-lg: 980px;
  /* Tamanho */
  --spacing-height-3: 0.1875rem;
  --font-default: 'Zen Kaku Gothic New', sans-serif;
  /* Tamanhos de fonte */
  --text-xs: 0.790123em;
  --text-sm: 0.888889em;
  --text-base: 1em;
  --text-lg: 1.125em;
  --text-h6: 1.125em;
  --text-h5: 1.265625em;
  --text-h4: 1.423828em;
  --text-h3: 1.601807em;
  --text-h2: 1.802032em;
  --text-h1: 2.027287em;
  --text-h1-hero: 2.280697em;
  --text-button: 0.943em;
  --text-sm-button: 0.888em;
  --text-lg-button: 1em;
  /* Espaçamentos textuais */
  --spacing-cap-offset: calc(1cap - ((1em - 1cap) / 2));
  --spacing-ex-offset: calc(1ex - ((1em - 1cap) / 2));
  /* Sombras */
  --shadow-xs: 0 1px 2px 0 rgba(97, 218, 251, 0.15);
  --shadow-sm: 0 2px 4px 0 rgba(97, 218, 251, 0.2);
  --shadow-md: 0 4px 12px -2px rgba(97, 218, 251, 0.25);
  --shadow-lg: 0 10px 25px -5px rgba(97, 218, 251, 0.3);
  --shadow-xl: 0 20px 40px -10px rgba(97, 218, 251, 0.35);
  --shadow-2xl: 0 30px 60px -15px rgba(97, 218, 251, 0.4);
  --shadow-profile: 0 0 40px -8px rgba(97, 218, 251, 0.5), 0 0 100px -20px rgba(97, 218, 251, 0.2);
  /* Cores */
  --color-primary-50: #eff4f5;
  --color-primary-100: #dfeaeb;
  --color-primary-200: #c0d5d7;
  --color-primary-300: #a1c0c4;
  --color-primary-400: #82abb1;
  --color-primary-500: #63979e;
  --color-primary-600: #41848c;
  --color-primary-700: #006d77 /*cor principal*/;
  --color-primary-800: #00515b;
  --color-primary-900: #00323c;
  --color-primary-950: #00242d;
  --color-primary-1000: #00181f;
  /* secondary */
  --color-secondary-50: #dff6fe;
  --color-secondary-100: #bdedfd;
  --color-secondary-200: #61dafb /*secondary ou #44C1CD*/;
  --color-secondary-300: #3fbfe0;
  --color-secondary-400: #00a4c4;
  --color-secondary-500: #008aa9;
  --color-secondary-600: #00708e;
  --color-secondary-700: #005875;
  --color-secondary-800: #00405c;
  --color-secondary-900: #002a44;
  --color-secondary-950: #002139;
  --color-secondary-1000: #00182e;
  /* cores neutras */
  --color-card-foreground: hsl(194 18% 18%);
  --color-muted-foreground: hsl(187 11% 38%);
  --color-border: oklab(88.75800000000001% -0.00519 -0.00169);
  --color-input-border: hsl(188 10% 69%);
  --color-input-bg: hsl(190 5% 97%);
  --color-white: #ffffff;
  --color-black: #222;
  --color-selected: oklch(80.9% 0.105 251.813);
  --color-background-start: oklch(1 0 0);
  --color-background-end: oklab(95.901% 0.00514 0.00149);
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.141 0.005 285.823);
  --color-card: oklch(1 0 0);
  --color-primary: #006d77;
  --color-primary-foreground: oklch(0.97 0.014 254.604);
  --color-secondary: oklch(0.967 0.001 286.375);
  --color-secondary-foreground: oklch(0.21 0.006 285.885);
  --color-muted: oklch(0.967 0.001 286.375);
  --color-accent: oklch(0.967 0.001 286.375);
  --color-accent-foreground: oklch(0.21 0.006 285.885);
  --color-input: oklch(0.92 0.004 286.32);
  --color-ring: oklch(0.708 0 0);
  --color-sidebar: oklch(0.985 0 0);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.488 0.243 264.376);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-ring: oklch(0.439 0 0);
}

@layer components {
  * {
    @apply [&>svg]:shrink-0;
    border-color: var(--color-border);
    outline-color: var(--color-border);
    scrollbar-width: thin;
    scrollbar-color: var(--color-border) transparent;
    font-family: var(--font-default);
  }
  *::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  *::-webkit-scrollbar-thumb {
    background: var(--color-sidebar-border);
  }
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  /* remover bordas da página */
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }
  html,
  body {
    scrollbar-width: none;
  }
  /* barra dos projetos */
  #project-image-wrapper::-webkit-scrollbar-thumb {
    background: var(--color-primary-100);
  }
  #project-image-wrapper::-webkit-scrollbar-track {
    background: transparent;
  }
  #project-image-wrapper {
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary-100) transparent;
    overflow-y: overlay;
  }
  /* estilos básicos */
  body {
    @apply font-medium bg-linear-to-br from-background-start to-background-end;
  }
  main {
    @apply px-3 md:px-6 lg:px-12;
  }
  h3,
  h1 {
    @apply text-primary-700;
  }
  a {
    @apply leading-none;
  }
}
