@import 'tailwindcss';

@theme {
  /* Tamanho */
  --px: 0.0625rem;
  --font-default: 'Zen Kaku Gothic New', sans-serif;
  /* Tamanhos de fonte */
  --text-xs: 0.790123em;
  --text-sm: 0.888889em;
  --text-base: 1em;
  --text-lg: 1.125em;
  --text-h6: 1.125em;
  --text-h5: 1.265625em;
  --text-h4: 1.423828em;
  --text-h3: 1.601807em;
  --text-h2: 1.802032em;
  --text-h1: 2.027287em;
  --text-big-h1: 2.280697em;
  --text-button: 1em;
  --text-sm-button: 0.9em;
  --text-lg-button: 1.1em;
  /* Sombras */
  --shadow-xs: 0 1px 2px 0 rgba(97, 218, 251, 0.15);
  --shadow-sm: 0 2px 4px 0 rgba(97, 218, 251, 0.2);
  --shadow-md: 0 4px 12px -2px rgba(97, 218, 251, 0.25);
  --shadow-lg: 0 10px 25px -5px rgba(97, 218, 251, 0.3);
  --shadow-xl: 0 20px 40px -10px rgba(97, 218, 251, 0.35);
  --shadow-2xl: 0 30px 60px -15px rgba(97, 218, 251, 0.4);
  --shadow-profile: 0 0 40px -8px rgba(97, 218, 251, 0.5), 0 0 100px -20px rgba(97, 218, 251, 0.2);
  /* Cores */
  --color-white: #ffffff;
  --color-black: #222;
  --color-background-start: oklch(1 0 0);
  --color-background-end: oklab(95.901% 0.00514 0.00149);
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.141 0.005 285.823);
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.141 0.005 285.823);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.141 0.005 285.823);
  --color-primary: oklch(0.488 0.243 264.376);
  --color-primary-foreground: oklch(0.97 0.014 254.604);
  --color-secondary: oklch(0.967 0.001 286.375);
  --color-secondary-foreground: oklch(0.21 0.006 285.885);
  --color-muted: oklch(0.967 0.001 286.375);
  --color-muted-foreground: oklch(0.552 0.016 285.938);
  --color-accent: oklch(0.967 0.001 286.375);
  --color-accent-foreground: oklch(0.21 0.006 285.885);
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-border: oklch(0.92 0.004 286.32);
  --color-input: oklch(0.92 0.004 286.32);
  --color-ring: oklch(0.708 0 0);
  --color-chart-1: oklch(0.809 0.105 251.813);
  --color-chart-2: oklch(0.623 0.214 259.815);
  --color-chart-3: oklch(0.546 0.245 262.881);
  --color-chart-4: oklch(0.488 0.243 264.376);
  --color-chart-5: oklch(0.424 0.199 265.638);
  --color-sidebar: oklch(0.985 0 0);
  --color-sidebar-foreground: oklch(0.141 0.005 285.823);
  --color-sidebar-primary: oklch(0.546 0.245 262.881);
  --color-sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --color-sidebar-accent: oklch(0.967 0.001 286.375);
  --color-sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --color-sidebar-border: oklch(0.92 0.004 286.32);
  --color-sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.488 0.243 264.376);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.623 0.214 259.815);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.439 0 0);
}

@layer components {
  * {
    @apply [&>svg]:shrink-0;
    border-color: var(--color-border);
    outline-color: var(--color-border);
  }

  body {
    @apply font-default font-medium bg-linear-to-br from-background-start to-background-end;
  }

  main {
    @apply px-3 md:px-6 lg:px-12;
  }
}
