@import 'tailwindcss';
@import './globals.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  scrollbar-width: 0;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
ol {
  list-style: none;
}

a {
  @apply cursor-pointer;
  text-decoration: none;
  color: inherit;
}

button {
  @apply cursor-pointer;
}

span {
  @apply cursor-default;
}